.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.game-title {
  max-width: 700px;
  width: 100%;
}

.button {
  width: 200px;
  height: 50px;
  font-size: 20px;
}