.set-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; 
  gap: 30px;
  padding: 40px;
}

.set-price-button {
  display: flex;
  flex-direction: row;
  gap: 20px; 
}

.button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-price-button a {
  text-decoration: none;
}

h2 {
  margin-bottom: 20px;
  font-weight:bold;
}