.layout {
  min-height: 100vh;
  background-image: url('/public/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.layout-content {
  min-height: 100vh;
  padding: 20px;
}